{% extends 'listing_dash/base.html' %}


{% block content %}

<div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card shadow">
          <div class="card-body">
            <h4 class="card-title">Horizontal Two column</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <div class="col-sm-9">
                        <h1>Hello this is my listing of Product page</h1>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}